<hr size="1" color="#999999">
<div><!-- footer -->
■<a href="#">使い方</a><br />
■<a href="#">よくある質問</a><br />
■<a href="#">対応機種</a><br />
■<a href="#">プライバシーポリシー</a><br />
■<a href="#">利用規約</a><br />
■<a href="#">運営会社</a><br />
■<a href="#">退会</a><br />
</div><!-- footer -->