<marquee bgcolor="#E9AFD6" behavior="scroll" direction="left">
<p><font color="#B05DAB" size="1">ようこそ！</font></p>
</marquee>
<%= image_tag 'Parchee.png', :alt => "Parchee", :size => '200x80'%>
<hr size="1" color="#E9AFD6">